.wrapper{
    width: 90%;
    height: 90%;
    margin: auto;
    .cytoscape-wrapper {
        width: 100%;
        height: 100%;
        .cytoscape {
            width: 100%;
            height: 100%;
            display: block;
        }
        .edge {

            target-arrow-shape: triangle;
        }
    }
}