.wrapper{
	display: inline-block;
	box-shadow: 0 0 13px 4px rgba(0, 0, 0, 0.2);
	border-radius: 5px;
	padding: 10px;
	background-color: white;
	opacity: 0.9;
	height: 100%;
	width: 100%;
	overflow: auto;
	&.without-scroll{
		overflow: visible;
		height: auto;
	}
}