.header-wrapper{
    position: relative;
    z-index: 99;
    color: #675959;
    min-height: 60px;
    box-shadow: 0 0 13px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    &.collection-header{
        box-shadow: 0 0 10px #cccccc;
    }
    .bar {
        .bar-content{
            z-index: 100;
        }
    }
    .menu-item{
        a{
            color: #575757;
            text-decoration: none;
        }
        .icon-dropdown{
            color: #b1b1b1;
            font-size: 9px;
            padding-right: 12px;
            padding-left: 12px;
            &.reverse{
                display: inline-block;
                -webkit-transform: rotate(180deg);
                transform: rotate(180deg);
                -ms-transform: rotate(180deg);
            }
        }
        &.collapse{
            display: none;
        }
        &.selected{
            background-color: #e6e6e6;
        }
    }
    .bar.left-bar {
        width: 65px;
        height: 69px;
        .bar-content {
            padding: 8px 0 0 0;
            .menu{
                min-width: 265px;
                .menu-item {
                    padding-right: 50px;
                    padding-left: 8px;
                    &:focus{
                        outline: none;
                    }
                }
            }
        }
        .logo {
            padding-left: 8px;
            width: 80px;
            cursor: pointer;
        }
    }
    .center-bar{
        display: flex;
        align-items: center;
        .bar-content{
            cursor: pointer;
            font-size: 35px;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-style: italic;
            background-image: -ms-linear-gradient(left, #00CBE6 0%, #62E44E 100%);
            background-image: -moz-linear-gradient(left, #00CBE6 0%, #62E44E 100%);
            background-image: -o-linear-gradient(left, #00CBE6 0%, #62E44E 100%);
            background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #00CBE6), color-stop(100, #62E44E));
            background-image: -webkit-linear-gradient(left, #00CBE6 0%, #62E44E 100%);
            background-image: linear-gradient(to right, #00CBE6 0%, #62E44E 100%);
        }
    }
    .right-bar{
        width: 60px;
        .bar-content {
            right: 15px;
            text-align: right;
            padding: 10px 0 0 0;
            .menu{
                .menu-item {
                    padding-right: 8px;
                    padding-left: 10px;
                }
            }
            .user-icon-wrapper {
                position: relative;
                display: inline-block;
                padding-right: 8px;
                .user-icon {
                    cursor: pointer;
                    font-size: 36px !important;
                    color: white;
                    background-image: -ms-linear-gradient(right, #00CBE6 0%, #62E44E 100%);
                    background-image: -moz-linear-gradient(right, #00CBE6 0%, #62E44E 100%);
                    background-image: -o-linear-gradient(right, #00CBE6 0%, #62E44E 100%);
                    background-image: -webkit-gradient(linear, right top, left top, color-stop(0, #00CBE6), color-stop(100, #62E44E));
                    background-image: -webkit-linear-gradient(right, #00CBE6 0%, #62E44E 100%);
                    background-image: linear-gradient(to left, #00CBE6 0%, #62E44E 100%);
                    width: 52px;
                    padding: 4px 0;
                    border-radius: 50%;
                    display: inline-block;
                    text-align: center;
                    line-height: 43px;
                    height: 50px;
                    box-sizing: border-box;
                    text-transform: capitalize;
                }
                .notifications-count{
                    position: absolute;
                    right: 3px;
                    top: 35px;
                }
            }
        }
    }
    .bar {
        .bar-content {
            &:hover{
                position: absolute;
            }
            .menu {
                padding: 10px 0 0 0;
                list-style: none;
                margin-top: 0;
                display: none;
                .menu-item{
                    &:hover{
                        background-color: #EBEBEB;
                        cursor: pointer;
                    }
                    a{
                        display: block;
                        line-height: 2.5;
                        width: 100%;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                    }
                }
                .border-bottom{
                    border-bottom: 1px solid #DBDBDB;
                    margin-bottom: 8px;
                    padding-bottom: 8px;
                }
                .border-top{
                    border-top: 1px solid #DBDBDB;
                    margin-top: 8px;
                    padding-top: 5px;
                }
            }
        }
        .with-content:hover {
            box-shadow: -1px 1px 10px 3px rgba(0, 0, 0, 0.13);
            background: #F8F8F8;
            border-radius: 8px;
            width: 265px;
            .menu {
                display: block;
            }
        }
    }
}